@font-face {
  font-family: "Syncopate";
  src: url("../assets/fonts/Syncopate-Bold.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf");
}

:root {
  --primary-color: #f5b754;
  --primary-color-dark: #d6a04a;
  --text-dark: #15191d;
  --text-light: #737373;
  --extra-light: #e5e5e5;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  border: none;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background-image: url("../assets/images/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  position: sticky;
  padding-block: 25px;
  top: 0;
  left: 0;
  z-index: 2;
}

.sticky {
  background-color: var(--white);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

#toggle-menu {
  display: none;
  font-size: 30px;
  font-weight: 500;
  color: var(--white);
  cursor: pointer;
}

nav {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.logo {
  font-size: 24px;
  font-family: "Syncopate", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -2px;
  color: var(--text-dark);
}

li a {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--text-dark);
}

li a:hover {
  color: var(--primary-color);
  transition: 0.3s;
}

button {
  font-size: 16px;
  color: var(--text-dark);
  background-color: var(--primary-color);
  padding: 16px 24px;
  border-radius: 10px;
  cursor: pointer;
}

.location-hero {
  padding: 5rem 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  isolation: isolate;
  overflow: hidden;
}

.location-hero h1 {
  font-size: 4.5rem;
  max-width: 750px;
  font-family: "Syncopate";
  letter-spacing: -4px;
}

.form-search {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--white);
  max-width: 800px;
  margin-inline: auto;
  margin-block-start: 2rem;
  margin-block-end: 4rem;
  padding: 1rem;
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.1);
}

.inp-group {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
}

.inp-group label {
  text-align: start;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--text-dark);
}

.inp-group input {
  padding-top: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  width: 100%;
  color: var(--text-light);
}

.btn {
  background-color: var(--text-dark);
  padding: 15px 17px;
  font-size: 26px;
  color: var(--white);
}

.btn:hover i,
.location-btn:hover {
  color: var(--text-dark);
}

.btn:hover,
.location-btn:hover {
  background-color: var(--primary-color);
  transition: 0.5s;
}

.location-hero img {
  max-width: 1050px;
  width: 100%;
  filter: drop-shadow(15px 15px 20px rgba(0, 0, 0, 0.5));
}

.location-hero::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  transform: translateY(50%) skewY(-4deg);
  background-color: var(--primary-color);
  z-index: -1;
}

.scroll {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7rem;
  border: 8px solid var(--white);
  border-radius: 2rem;
  background-color: var(--primary-color);
  padding: 10px 3px;
  color: var(--text-dark);
}

.vehicles,
.location-rent,
.stories,
.download {
  padding: 6.5rem 10rem;
  background-color: var(--white);
}

.range-vehicles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.vehicles h2,
.stories h2 {
  font-size: 3.5rem;
  text-align: center;
  font-family: "Syncopate";
  letter-spacing: -4px;
  max-width: 700px;
  margin-inline: auto;
  padding-block-end: 4rem;
}

.range-card {
  position: relative;
  max-width: 600px;
  margin-inline: auto;
  isolation: isolate;
  overflow: hidden;
  border-radius: 1.5rem;
}

.detailes {
  position: absolute;
  inset: 0;
  padding: 3rem;
  background-image: linear-gradient(to bottom right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0.75));
}

.range-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.range-card:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}

.detailes h4 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Syncopate", sans-serif;
  color: var(--white);
  margin-bottom: 1.3rem;
  text-transform: uppercase;
}

.detailes a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid var(--white);
  font-size: 26px;
  color: var(--white);
  font-weight: 600;
}

.detailes a:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
  transition: 0.4s;
}

.location-rent {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  gap: 3rem;
}

.location-detailes {
  margin-block: 2rem;
}

.location-detailes h2 {
  font-size: 3.2rem;
  line-height: 4rem;
  font-family: "Syncopate";
  letter-spacing: -4px;
  padding-block-end: 1.5rem;
  max-width: 600px;
}

.location-detailes p {
  font-size: 1rem;
  color: var(--text-light);
  font-family: "Poppins";
  padding-block-end: 1.5rem;
  text-transform: none;
  max-width: 600px;
}

.location-rent img {
  max-width: 500px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.location-btn {
  color: var(--white);
  background-color: var(--text-dark);
}

.stories-wheel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  font-family: "Poppins", sans-serif;
}

.story-date {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--text-light);
}

.story-date span {
  font-size: 3rem;
  color: var(--text-dark);
  padding-right: 10px;
  border-right: 2px solid var(--text-light);
  line-height: 2.5rem;
  font-weight: 600;
}

.story-card p {
  color: var(--text-light);
  font-size: 1rem;
  font-weight: 500;
}

.story-card h4 {
  font-family: "Syncopate", sans-serif;
  font-size: 1.5rem;
  letter-spacing: -2px;
  line-height: 1.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.story-card img {
  padding-top: 2.5rem;
  max-width: 400px;
  width: 100%;
}

.banner {
  padding-block: 4rem;
  background-color: var(--white);
  overflow: hidden;
  width: 100%;
}

.banner-container {
  display: flex;
  width: max-content;
  gap: 8rem;
  align-items: center;
  animation: slider 30s linear infinite;
}

@keyframes slider {
  100% {
    transform: translateX(-50%);
  }
}

.banner-container img {
  height: 100px;
  object-fit: contain;
}

.download {
  position: relative;
  z-index: 1;
}

.download-card {
  display: flex;
  height: 50vh;
  background-color: var(--primary-color);
  border-radius: 1rem;
  align-items: center;
  margin-block-start: 7rem;
  transform: translateY(25%);
}

.download-detailes {
  padding: 5rem;
}

.download-detailes h2 {
  font-size: 3.3rem;
  font-weight: 600;
  font-family: "Syncopate", sans-serif;
  line-height: 4rem;
  letter-spacing: -5px;
}

.download-link {
  display: flex;
  gap: 1.2rem;
  padding-block-start: 2rem;
}

.download-link img {
  width: 150px;
}

.download-image {
  position: relative;
  max-width: 400px;
  transform: translate(-30%, -16%);
}

.download-image img {
  width: 100%;
  isolation: isolate;
}

.download::before {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  bottom: 0;
  height: 30vh;
  background-color: var(--text-dark);
  z-index: -1;
}

.news,
footer {
  padding: 3rem 10rem;
  background-color: var(--text-dark);
}

.news-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.news-container h2 {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Syncopate", sans-serif;
  color: var(--white);
  line-height: 3.5rem;
  letter-spacing: -2px;
  padding-inline-start: 1rem;
  max-width: 600px;
  width: 100%;
}

.news-container form {
  display: flex;
  margin-inline-start: 8rem;
  max-width: 450px;
  width: 100%;
  gap: 1rem;
  align-items: center;
}

.news-container input {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--text-light);
  color: var(--white);
  font-size: 1.1rem;
  padding-block: 10px;
  width: 100%;
  text-transform: none;
}

footer .footer-detailes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-col:not(:last-child) a {
  display: flex;
  flex-direction: column;
}

.news-container i {
  transform: rotate(-45deg);
  font-size: 1.4rem;
  color: var(--white);
}

.news-container i:hover {
  color: var(--text-dark);
  transition: 0.4s;
}

.footer-detailes {
  padding-inline-start: 1rem;
}

.footer-col h4 {
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Syncopate", sans-serif;
  color: var(--white);
}

.footer-link {
  padding-block-start: 2rem;
  padding-block-end: 4rem;
}

.footer-link a {
  color: var(--text-light);
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding-bottom: 1rem;
}

.footer-link a:hover {
  color: var(--white);
  transition: 0.4s;
}

.icons {
  display: flex;
  gap: 1rem;
  padding-block-start: 2rem;
}

.icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--text-light);
  color: var(--text-light);
}

.icons i {
  font-size: 1.4rem;
}

.icons a:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
  transition: 0.5s;
}

.footer-copyright {
  border-top: 1px solid var(--text-light);
  padding-block-start: 1rem;
  text-align: center;
  font-size: 1rem;
  color: var(--text-light);
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

/* -----responsive-------- */
@media (max-width: 1440px) {
  nav {
    margin-inline: 5rem;
  }

  .vehicles,
  .location-rent,
  .stories,
  .download {
    padding-inline: 5rem;
  }

  .location-rent {
    gap: 1rem;
  }

  .location-detailes {
    margin-block: 1.5rem;
  }

  .location-detailes h2 {
    font-size: 3rem;
    padding-block-end: 1.3rem;
  }

  .location-detailes p {
    padding-block-end: 1.3rem;
  }
}

@media (max-width: 1200px) {
  nav {
    margin-inline: 1.5rem;
  }

  .vehicles,
  .location-rent,
  .stories,
  .download {
    padding-inline: 1.5rem;
  }

  .range-vehicles {
    gap: 1.5rem;
  }

  .location-rent {
    gap: 0.9rem;
  }

  .location-detailes {
    margin-block: 1rem;
  }

  .location-detailes h2 {
    font-size: 2.5rem;
  }

  .location-rent {
    padding-block-start: 3rem;
  }
}

@media (max-width: 1024px) {
  nav {
    margin-inline: 1rem;
  }

  .vehicles,
  .location-rent,
  .stories,
  .download {
    padding-inline: 1rem;
  }

  .range-vehicles {
    gap: 1rem;
  }

  .location-rent {
    gap: 0.4rem;
  }

  .location-detailes {
    margin-block: 0rem;
  }

  .location-detailes h2 {
    font-size: 2.4rem;
    padding-block-end: 0.5rem;
  }

  .location-detailes p {
    padding-block-end: 1rem;
    font-size: 15px;
  }

  .location-detailes {
    margin-block: 1rem;
  }

  .location-rent img {
    max-width: 380px;
  }

  .location-rent {
    padding-block-start: 2rem;
  }
}

@media (max-width: 820px) {
  .location-detailes h2 {
    font-size: 2.2rem;
    padding-block-end: 0.5rem;
  }

  .location-detailes p {
    padding-block-end: 0.8rem;
  }

  .location-detailes {
    margin-block: 0.6rem;
  }

  .location-rent img {
    max-width: 350px;
    padding-top: 30px;
  }

  .story-card img {
    padding-top: 2rem;
  }
}

@media (max-width: 768px) {
  header {
    padding-block: 15px;
    background-color: var(--primary-color);
  }

  .btn-header {
    display: none;
  }

  #toggle-menu {
    display: block;
  }

  nav {
    position: relative;
    padding-inline: 1rem;
    margin-inline: 0;
  }

  .logo {
    color: var(--white);
  }

  .dropdown {
    max-height: 0;
    padding-block: 0;
    position: absolute;
    flex-direction: column;
    overflow: hidden;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: var(--primary-color);
    transition: height 0.5s ease, padding-block 0.5s ease;
  }

  li a {
    color: var(--white);
  }

  li a:hover {
    color: var(--text-dark);
  }

  .active {
    max-height: 400px;
    padding-block: 40px;
  }

  .location-hero {
    padding: 3rem 1.5rem;
  }

  .location-hero h1 {
    font-size: 3.5rem;
  }

  form {
    gap: 0.6rem;
    padding: 0.5rem;
  }

  .btn {
    padding: 15px;
    margin: 5px;
    font-size: 24px;
  }

  .range-vehicles {
    grid-template-columns: repeat(1, 1fr);
  }

  .location-rent {
    flex-direction: column;
    gap: 0;
  }

  .location-detailes {
    margin-block: 2.5rem;
    order: 2;
    text-align: start;
  }

  .location-detailes h2,
  .stories h2 {
    font-size: 3rem;
  }

  .location-image {
    text-align: center;
  }

  .location-rent img {
    order: 1;
    max-width: 550px;
  }

  .stories-wheel {
    grid-template-columns: repeat(2, 1fr);
  }

  .download-card {
    justify-content: center;
    text-align: center;
    margin-block-start: 0rem;
    padding-block: 2rem;
    height: 60vh;
  }

  .download-detailes {
    padding: 0rem;
  }

  .download-link {
    justify-content: center;
  }

  .download-image {
    display: none;
  }
}

@media (max-width: 600px) {
  .location-hero {
    padding-inline: 1rem;
  }

  .location-hero h1 {
    font-size: 3rem;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .vehicles h2,
  .download-detailes h2 {
    font-size: 3rem;
  }

  .detailes {
    padding: 2.5rem;
  }

  .detailes h4 {
    font-size: 2.7rem;
  }

  .location-detailes h2 {
    font-size: 2.5rem;
  }

  .location-rent img {
    padding-top: 0;
    max-width: 100%;
  }

  .stories-wheel {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }

  .story-card {
    margin-block-start: 3rem;
  }

  .story-card img {
    max-width: 100%;
  }

  .banner-container img {
    height: 80px;
  }

  .banner {
    padding-block: 3rem;
  }

  .download-link {
    gap: 0.8rem;
  }
}

@media (max-width: 375px) {
  header {
    padding-block: 15px;
  }

  .location-hero h1 {
    font-size: 2.8rem;
  }

  .vehicles h2,
  .stories h2,
  .download-detailes h2 {
    font-size: 2.8rem;
  }

  .detailes {
    padding: 1.6rem;
  }

  .detailes h4 {
    font-size: 2.4rem;
  }

  .download-link img {
    width: 125px;
  }
}